body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.progress-ring {
  margin-top: -60px;
  margin-left: 25px;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.table {
  width: 90%;
  margin: 0 auto;
  background: white;
  margin-top: -20px;
  box-shadow: -8px 9px 12px -5px rgba(192, 192, 192, 0.5);
  -webkit-box-shadow: -8px 9px 12px -5px rgba(192, 192, 192, 0.5);
  -moz-box-shadow: -8px 9px 12px -5px rgba(192, 192, 192, 0.5);
}

.tabel-container {
  margin: 10px;
  border: 1px solid #f2f2f2;
}

.column,
.receipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: -10px;
}

.column {
  background: rgb(137, 137, 231);
}

.receipe:nth-child(odd) {
  background: #f2f2f2;
}

.receipe p {
  font-size: 12px;
  text-align: right;
  width: 100px;
}

input {
  margin: 10px 0 0 10px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}

.entity {
  background: white;
  padding: 20px 5px;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  text-align: center;
  font-weight: bold;
  margin: 0 3px;
}

/**************************************/
.container {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 0 auto;
}

.dish-container {
  border-radius: 0.5rem;
  height: 170px;
  width: 30%;
  margin: 10px;
  box-shadow: -8px 9px 12px -5px rgba(192, 192, 192, 0.5);
  -webkit-box-shadow: -8px 9px 12px -5px rgba(192, 192, 192, 0.5);
  -moz-box-shadow: -8px 9px 12px -5px rgba(192, 192, 192, 0.5);
}

.heading {
  border-radius: 0.5rem 0.5rem 0 0;
  background: #b4b4b4;
  text-align: center;
  padding: 8px;
  font-size: 12px;
}

.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -20px;
}

.inner-container {
  width: 33%;
}

.inner-container div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-container div h4 {
  width: 70%;
  font-size: 10px;
  text-align: center;
}

.percentage {
  position: relative;
  top: -65px;
  left: 40px;
}

.arrow_details {
  width: 50%;
  margin-bottom: 10px;
}

.percentage_arrow {
  text-align: center;
}

.arrow {
  position: relative;
  top: -40px;
  width: 20px;
}

.button-div {
  position: relative;
  left: 85%;
}

.btn {
  padding: 5px 10px;
  border: black 1px solid;
  font-size: 16px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.button-div p {
  margin: 0 10px;
}

.receipe:hover {
  background: rgba(231, 197, 202, 0.959);
}